*.Rproj.user
*.Rhistory
*.RData
*.Ruserdata
*.docx
*.pptx
*.jpeg
*.mmap
*.mp4
*.pdf
*.png
*.m
*.xlsx
*.sh
*.pptm
*.csv
*.zip
*.rtf
*.log
*.err
*.out
*.txt
*.Rproj
*.rda
*.~$lock
*.html
*.gif
*.tiff
*.dbf
*.prj
*.shp
*.shx
*.rmd
*.sbn
*.sbx
*.shp.xml
Graphs/
MF_grid/
Raster grids/
Paola HMM outpu/
Output/
Figures/
R/Old R codes/
R/Environment saved/
.Rproj.user
R/12. Figures and tables.R
R/Figures - MomentuHMM specific functions.R
R/Appendix B.R
R/Relationship between acc and dive.R
R/Track simulation.R
Datasets/





